<div class="container">
 <div class="row">
 <div class="mx-auto ">
      <h1>ジャルメモ</h1>
      <p>分けるメモ帳</p>
      </div>
      </div>
       <div class="row login">
      <div class="btn-wrapper mx-auto col-6">
       
        <div class="col-lg-10">
           <%= link_to "ユーザーログイン", new_user_session_path, class: "btn btn-info btn-sm btn-block md-"%>
        </div>
        
        
         <div class="col-lg-10">
           <%= link_to "ユーザー新規登録", new_user_registration_path, class:"btn btn-success btn-sm btn-block"%>
           </div>
         
         <div class="col-lg-10">
           <%= link_to "管理者ログイン", new_admin_session_path, class:"btn btn-warning btn-sm btn-block"%>
           </div>
       </div>
      </div>
    </div>
