<div class="container">
 <div class="row">
 <div class="mx-auto ">
      <h1>ジャルメモ</h1>
      </div>
      </div>
       <div class="row login">
      <div class="btn-wrapper mx-auto col-6">
       
        <div class="col-lg-10">
           <%= link_to "User_Log in", new_user_session_path, class: "btn btn-info btn-sm btn-block md-"%>
        </div>
        
        
         <div class="col-lg-10">
           <%= link_to "User新規登録", new_user_registration_path, class:"btn btn-success btn-sm btn-block"%>
           </div>
         
         <div class="col-lg-10">
           <%= link_to "admin_Sign Up", new_admin_session_path, class:"btn btn-warning btn-sm btn-block"%>
           </div>
       </div>
      </div>
    </div>
