<table class = "table">
 <thead>
   <tr>
      <th>写真</th>
      <th>名前</th>
      <th>自己紹介</th>
   </tr>
 </thead>
 <tbody>
  <td>
   <%= attachment_image_tag @user, :image, fallback: "no_image.jpg", size: '100x100' %>
  </td>
    <td>
    <%= @user.name %>
    </td>
     <td>
    <%= @user.introduction %>
    </td>
    <td><%= link_to "削除", admin_user_path(@user.id), method: :delete, class: "btn btn-sm btn-danger" %></td>


  </thead>
  </tbody>
</table>
