<div class ="container px-5 px-sm-0">
<div class ="row">
<div class ="col-md-8 offset-md-1">
  <h1>usershow</h1>
<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @memo.each do |memo| %>
      <% if memo.all_reads  %>　<%#booleanのメモの見せるか見せないか>
      <tr>
        <td>
          <%#= attachment_image_tag(book.user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %>

        </td>
        <td><%= link_to memo.title, memo_path(memo.id) %></td>
        <td><%= memo.text %></td>


      </tr>
       <%end %>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>